{% include 'base.html' %} {% include 'scripts.html' %}

<nav class="navbar navbar-expand-lg navbar-light" style="background: rgb(220, 225, 230)!important;">
    <a class="navbar-brand" href="/">
        <h3 class="font-weight-bold white-text">Zacs-Gally<strong class="text-warning">Shop</strong></h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <h5 class="font-weight-bold white-text">Home</h5> 
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0"  action="/search" role="search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by Category" name="search" aria-label="Search">
            <button class="btn btn-warning btn-md my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>